In [28]:
import pandas as pd

#  Load the data into a Pandas dataframe
filepath = r'C:\Users\boa\Downloads\Sacramentorealestatetransactions.csv'
df = pd.read_csv(filepath)

In [22]:
# Use Pandas to count the number of rows of data and number of columns

num_rows, num_columns = df.shape
print(f'Number of rows: {num_rows}')
print(f'Number of columns: {num_columns}')

Number of rows: 985
Number of columns: 12

In [30]:
# Display the first 8 rows of the dataframe

print(df.head(8))

                street        city    zip state  beds  baths  sq__ft  \
0         3526 HIGH ST  SACRAMENTO  95838    CA     2      1     836
1          51 OMAHA CT  SACRAMENTO  95823    CA     3      1    1167
2       2796 BRANCH ST  SACRAMENTO  95815    CA     2      1     796
3     2805 JANETTE WAY  SACRAMENTO  95815    CA     2      1     852
4      6001 MCMAHON DR  SACRAMENTO  95824    CA     2      1     797
5   5828 PEPPERMILL CT  SACRAMENTO  95841    CA     3      1    1122
6  6048 OGDEN NASH WAY  SACRAMENTO  95842    CA     3      2    1104
7        2561 19TH AVE  SACRAMENTO  95820    CA     3      1    1177

          type                     sale_date  price   latitude   longitude
0  Residential  Wed May 21 00:00:00 EDT 2008  59222  38.631913 -121.434879
1  Residential  Wed May 21 00:00:00 EDT 2008  68212  38.478902 -121.431028
2  Residential  Wed May 21 00:00:00 EDT 2008  68880  38.618305 -121.443839
3  Residential  Wed May 21 00:00:00 EDT 2008  69307  38.616835 -121.439146
4  Residential  Wed May 21 00:00:00 EDT 2008  81900  38.519470 -121.435768
5        Condo  Wed May 21 00:00:00 EDT 2008  89921  38.662595 -121.327813
6  Residential  Wed May 21 00:00:00 EDT 2008  90895  38.681659 -121.351705
7  Residential  Wed May 21 00:00:00 EDT 2008  91002  38.535092 -121.481367

In [32]:
# Display the bottom 3 rows of the dataframe
print(df.tail(3))

                  street             city    zip state  beds  baths  sq__ft  \
982    7933 DAFFODIL WAY   CITRUS HEIGHTS  95610    CA     3      2    1216
983     8304 RED FOX WAY        ELK GROVE  95758    CA     4      2    1685
984  3882 YELLOWSTONE LN  EL DORADO HILLS  95762    CA     3      2    1362

            type                     sale_date   price   latitude   longitude
982  Residential  Thu May 15 00:00:00 EDT 2008  235000  38.708824 -121.256803
983  Residential  Thu May 15 00:00:00 EDT 2008  235301  38.417000 -121.397424
984  Residential  Thu May 15 00:00:00 EDT 2008  235738  38.655245 -121.075915

In [34]:
# Display the transpose of the first 4 rows
print(df.head(4).T)

                                      0                             1  \
street                     3526 HIGH ST                   51 OMAHA CT
city                         SACRAMENTO                    SACRAMENTO
zip                               95838                         95823
state                                CA                            CA
beds                                  2                             3
baths                                 1                             1
sq__ft                              836                          1167
type                        Residential                   Residential
sale_date  Wed May 21 00:00:00 EDT 2008  Wed May 21 00:00:00 EDT 2008
price                             59222                         68212
latitude                      38.631913                     38.478902
longitude                   -121.434879                   -121.431028

                                      2                             3
street                   2796 BRANCH ST              2805 JANETTE WAY
city                         SACRAMENTO                    SACRAMENTO
zip                               95815                         95815
state                                CA                            CA
beds                                  2                             2
baths                                 1                             1
sq__ft                              796                           852
type                        Residential                   Residential
sale_date  Wed May 21 00:00:00 EDT 2008  Wed May 21 00:00:00 EDT 2008
price                             68880                         69307
latitude                      38.618305                     38.616835
longitude                   -121.443839                   -121.439146